@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth edges */
* {
  -webkit-font-smoothing: antialiased;
}


.cartoon-kid-wrap{
  background: rgb(255 255 255 / 33%);
  border-radius: 0 0 130px 130px;
}